* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #dbdbf7;
}

.container {
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
}

.login-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

.create-account, .login-account {
    width: 45%;
}

.create-account h2, .login-account h2 {
    font-size: 1.5em;
    margin-bottom: 15px;
}

form {
    margin-bottom: 20px;
}

input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: orange;
}

a {
    font-size: 0.9em;
    color: #888;
    text-decoration: none;
}

a span {
    color: #007BFF;
}

.vertical-divider {
    width: 1px;
    background-color: #ddd;
    height: 250px;
    margin: 0 20px;
}

.social-login {
    margin-top: 30px;
    text-align: center;
}

.social-login p {
    font-size: 0.9em;
    color: #777;
    margin-bottom: 10px;
}

.btn-social {
    padding: 10px 20px;
    margin: 5px;
    border: 1px solid #ddd;
    background-color: white;
    cursor: pointer;
}

.btn-social:hover {
    background-color: #f1f1f1;
}

